.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 80;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .7);;
}

.modal__contenido {
  width: 80%;
  height: 80%;
  padding: 0px 20px;
  background-color: var(--color-morado);
  border-radius: 2%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 80px;

  position: relative;

  font-family: 'Fredoka', sans-serif;
}

.modal__salir {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__icon-salir {
  font-size: 2.4rem;
  cursor: pointer;
}

.modal__pregunta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.modal__opciones {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.opcion {
  width: calc(100% / 2 - 4px);
  height: 50%;

  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.opcion-1 {
  background-color: #F51121;
}

.opcion-2 {
  background-color: #F5B64A;
}

.opcion-3 {
  background-color: cyan;
}

.opcion-4 {
  background-color: #00F518;
}

.opcion-seleccionada {
  background-color: black;
  color: white;
  border-color: white;
}

.modal__container-boton {
  display: grid;
  place-items: center;
}

.modal__boton {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;

  cursor: pointer;
}

.modal__boton:hover {
  opacity: 1;
}

.modal__boton:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}
